#l-container {
  margin: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  #l-header {
    #l-logo {

    }
    #l-nav__header {

    }
  }

  #l-main {
    #l-page {

    }
  }

  #l-footer {

  }
}