#l-container {
  margin: 0;

  padding-left: 5vw;
  padding-right: 5vw;

  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;

  #l-header {
    margin-bottom: 0.5rem;

    padding-top: 1rem;

    width: 90vw;
    height: 4rem;

    position: fixed;
    top: 0;

    #l-logo {
      margin-bottom: 16px; margin-bottom: 1rem;
    }
    #l-nav__header {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  #l-main {
    margin-top: 5.5rem;
    margin-bottom: 1rem;

    #l-page {
      overflow: hidden;

      .l-page__title {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }

      //<Home />
      #l-top {
        margin-top: 2rem;
        margin-bottom: 4rem;

        #l-top__title {
          margin-bottom: 1rem;
        }
      }

      #l-nav__home {

        .l-nav__item {
          margin-bottom: 4rem;

          .l-nav__title {
            margin-bottom: 1rem;
          }

          .l-text {
            margin-left: 1rem;
          }
        }
      }

      //<About />
      .l-about__section {
        margin-bottom: 10rem;

        .l-section__title {
          margin-bottom: 4rem;
        }

        .l-about__article {
          margin-bottom: 4rem;

          .l-article__title {
            margin-bottom: 1rem;
          }

          .text {
            margin-bottom: 0.5rem;
          }
        }
      }

      //<Contact />
      #l-form {

        .l-form__section {
          margin-bottom: 6rem;

          .section__title {
            margin-bottom: 1.5rem;
          }

          .section__name {
            height: 4rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .input__name {
              height: 1.5rem;
              width: 8rem;

            }
          }

          .section__email {
            .input__email {
              width: 15rem;
              height: 1.5rem;
            }
          }

          .section__business {
            .business__option {
              height: 3rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .option__item {

                input {
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }
      }


    }
  }

  #l-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .l-nav__item {
      margin-bottom: 2rem;
    }

  }
}