//display 
.block {
  display: block;
}

//border
.border-bottom {
  border-bottom: 0.5px solid;
}

//text
  //font-size
  .text--largest {
    font-size: 4rem;
  }

  .text--larger {
    font-size: 3rem;
  }

  .text--large {
    font-size: 2rem;
  }

  .text--medium {
    font-size: 1.5rem;
  }

  .text--small {
    font-size: 1.3rem;
  }

  .text--smaller {
    font-size: 1rem;
  }

  .text--smallest {
    font-size: 0.7rem;
  }

  //text-align
  .text--center {
    text-align: center;
  }


  //line-hight
  .line--wide {
    line-height: 2.5rem;
  }

  .line--medium {
    line-height: 1.5rem;
  }

//background

.bg-white {
  background-color: white;
}
